@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <script src="/Content/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/Content/css/Login.css">
</head>
<body>
    <div class="LoginBox">
        <div class="LogoBox">
            <img src="/Content/Image/logo-400x400.png" alt="">
        </div>
        <div class="inputBox">
            <form action="DoLogin" method="POST">
                <h2>登陆网站</h2>
                <div class="UserNameBox">
                    <input type="text" name="LoginID" id="UserName" placeholder="用户名" style="width: 396px;">
                </div>
                <div class="PassBox">
                    <input type="password" name="password" id="Pass" placeholder="密码" style="width: 396px;">
                </div>
                <div class="SaveInfoBox">
                    <input type="checkbox" name="" id="SavaPass">
                    <span>记住密码</span>
                    <a href="/Login/Register">注册账号</a>
                </div>
                <div class="btnBox">
                    <input type="submit" value="登 录" class="Btn_Login">
                </div>
                <div class="footText">
                    <span>copyright 博客园版权所有<a href="" style="margin-left: 10px;">返回首页</a> </span>
                </div>
            </form>
        </div>
    </div>
    <div class="bgBox">
        <img src="/Content/Image/bg.png" alt="">
    </div>
</body>
</html>
