@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        form {
            padding: 20px;
        }
    </style>
</head>

<body>
    @using (Html.BeginForm("DoInform", "Home"))
    {
        <div>
            <input type="hidden" name="aid" value="@Model.aid" />
            <div class="form-group">
                <label for="exampleInputEmail1">举报标题</label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="@Model.title" readonly>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">举报类型</label>
                <select class="form-control" name="types">
                    <option value="低俗">低俗</option>
                    <option value="欺诈">欺诈</option>
                    <option value="骚扰">骚扰</option>
                    <option value="不实信息">不实信息</option>
                    <option value="违法犯罪">违法犯罪</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">举报内容</label>
                <textarea class="form-control" rows="5" name="content" placeholder="举报原因"></textarea>
            </div>
            <input type="submit" name="name" value="提交" class="btn btn-default" />
        </div>
    }
</body>
</html>
