*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.nav{
    /* 清除盒子塌陷 */
    overflow: hidden;
}
.navImg{
    float: left;
}
.navImg img{
    margin-left: 150px;
}
.nav_info{
    float: right;
    line-height: 74px;
    margin-right: 100px;
}
.nav_info i{
    display: block;
    height: 15px;
    width: 15px;
    background: url(../Image/Write.png);
    background-size: 100%;
    float: left;
    margin-top: 28px;
    margin-right: 2px;
}
.nav_info li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
.nav_info a{
    color: #777777;
    font-size: 14px;
}
.handImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
/* 文章区域 */
.ReleaseBox{
    width: 85%;
    margin: 0 auto;
}
.ReTitleBox{
    margin-top: 30px;
    text-align: center;
}
.ReTitle{
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    width: 60%;
    font-size: 21px;
    padding: 5px 0;
    text-align: center;
}
.TypeBox{
    margin-top: 20px;
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 40px;
    overflow: hidden;
}
.TypeBoxlable{
    line-height: 40px;
    font-size: 14px;
    margin: 0 10px;
    color: rgb(129, 129, 129);
    float: left;
}
.Types{
    width: auto;
    height: auto;
    border: none;
    outline: none;
}
.ContentType span{
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    background: #ebf0e1;
    font-size: 12px;
    text-align: center;
    color: #29a4a9;
    margin: 0 5px;
}
.ContentType span>i{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../Image/Del.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 3px;
    cursor: pointer;
}
.btnBox {
    height: 100px;
}