*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.nav{
    /* 清除盒子塌陷 */
    /* overflow: hidden; */
}
.clear{
    clear: both;
}
.navImg{
    float: left;
}
.navImg img{
    margin-left: 150px;
}
.nav_info{
    float: right;
    line-height: 74px;
    margin-right: 100px;
}
.nav_info i{
    display: block;
    height: 15px;
    width: 15px;
    background: url(../Image/Write.png);
    background-size: 100%;
    float: left;
    margin-top: 28px;
    margin-right: 2px;
}
.nav_info li{
    list-style: none;
    /* display: inline-block; */
    float: left;
    padding: 0 10px;
}
.nav_info a{
    color: #777777;
    font-size: 14px;
}
.handImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
.MyName{
    position: relative;
}
.UserMove{
    width: 100px;
    position: absolute;
    bottom: -75px;
    left: -10px;
    z-index: 20;
    display: none;
}
.UserMove a{
    display: block;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    background: rgb(252, 252, 252);
}
.UserMove a:hover{
    background: rgb(247, 247, 247);
}

/* 空间图片区域 */
.ImgBox{
    width: 100%;
    height: 450px;
    position: relative;
}
.ImgBox>img{
    width: 100%;
    height: 100%;
}
.ImgBox_UInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -84px;
    margin-top: -101px;
    text-align: center;
}
.ImgBox_UInfo li{
    padding: 0 0 5px 0;
}
.ImgBox_UInfo img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.ImgBox_UInfo_Name{
    font-size: 18px;
    font-weight: 900;
    color: white;
}
.ImgBox_UInfo_Text{
    font-size: 14px;
    color: rgb(211, 211, 211);  
}

/* 内容区域 */
.Content{
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
    /* 清除塌陷 */
    overflow: hidden;
    margin-bottom: 100px;
}
.ContentNavBox{
    width: 65%;
    float: left;
}
.ContentNav{
    border-bottom: 1px solid #ccc;
}
.ContentNav li{
    display: inline-block;
    padding: 10px 10px;
}
.ContentNav li a{
    color: #000;
}
.ContentFirstItem{
    border-bottom: 2px solid #29acf7;
}
.ContentFirstItem>a{
    color: #29acf7 !important;
}
.ContentList{
    margin-top: 30px;
    position: relative;
}
.UserInfo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    vertical-align: middle;
}
.ContentTitle{
    font-size: 18px;
    color: #000;
}
.ContentText{
    font-size: 13px;
    color: #9f9c9a;
    margin-top: 5px
}
.ContentType span{
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    background: #ebf0e1;
    font-size: 12px;
    text-align: center;
    color: #29a4a9;
}
.ContentInfo a{
    color: #000;
    font-size: 13px;
}
.ContentInfo span{
    color: rgb(158, 158, 158);
    font-size: 12px;
}
.LookContent{
    background: #29acf7;
    border: none;
    height: 30px;
    width: 80px;
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}
/* 内容区域右边 */
.ContentRight{
    width: 31%;
    height: auto;
    float: left;
    margin-left: 4%;
}
.HotTitle{
    border-bottom: 1px solid #dadada;
    padding: 10px 0px;
}
.TypeBox{
    margin-top: 5px;
}
.TypeBox a{
    display: inline-block;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    background: #ebf0e1;
    font-size: 12px;
    text-align: center;
    color: #29a4a9;
}
.HotArticles{
    margin-top: 30px;
}
.ArticlesList{
    border: 1px solid #ccc;
    border-bottom: none;
    width: 99.5%;
    height: auto;
    margin-top: 10px;
}
.ArticlesList a{
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.ArticlesList a>h3{
    color: #000;
}
.ArticlesList a>span{
    color: rgb(165, 165, 165);
    font-size: 13px;
}
.ArticlesList a:hover{
    background: rgb(245, 245, 245);
}