*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background: #fafafa;
}
ul li{
    list-style: none;
}
.nav{
    /* 清除盒子塌陷 */
    /* overflow: hidden; */
}
.clear{
    clear: both;
}
.navImg{
    float: left;
}
.navImg img{
    margin-left: 150px;
}
.nav_info{
    float: right;
    line-height: 74px;
    margin-right: 100px;
}
.nav_info i{
    display: block;
    height: 15px;
    width: 15px;
    background: url(../Image/Write.png);
    background-size: 100%;
    float: left;
    margin-top: 28px;
    margin-right: 2px;
}
.nav_info li{
    list-style: none;
    /* display: inline-block; */
    float: left;
    padding: 0 10px;
}
.nav_info a{
    color: #777777;
    font-size: 14px;
}
.handImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
}
.MyName{
    position: relative;
}
.UserMove{
    width: 100px;
    position: absolute;
    bottom: -75px;
    left: -10px;
    z-index: 20;
    display: none;
}
.UserMove a{
    display: block;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    background: rgb(252, 252, 252);
}
.UserMove a:hover{
    background: rgb(247, 247, 247);
}

/* 空间图片区域 */
.ImgBox{
    width: 100%;
    height: 450px;
    position: relative;
}
.ImgBox>img{
    width: 100%;
    height: 100%;
}
.ImgBox_UInfo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -84px;
    margin-top: -101px;
    text-align: center;
}
.ImgBox_UInfo li{
    padding: 0 0 5px 0;
}
.ImgBox_UInfo img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.ImgBox_UInfo_Name{
    font-size: 18px;
    font-weight: 900;
    color: white;
}
.ImgBox_UInfo_Text{
    font-size: 14px;
    color: rgb(211, 211, 211);  
}
/* 左导航 */
.Content{
    width: 90%;
    height: 500px;
    /* background: pink; */
    margin: 0 auto;
    margin-top: 20px;
}
.SetNav{
    width: 20%;
    height: auto;
    background: #fff;
    float: left;
}
.UserSet{
    border-bottom: 1px solid #e2e2e2;
}
.UserSet i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../Image/Set.png);
    background-size: 100%;
    vertical-align: middle;
    margin-right: 5px;
}
.UserSet p,.BlogSet p{
    color: rgb(100, 100, 100);
    font-size: 14px;
    padding: 10px 20px;
}
.SetList{
    margin-top: 10px;
}
.SetList li{
    padding: 10px 35px;
    color: rgb(85, 85, 85);
    cursor: pointer;
}
.SetList li:hover{
    background: rgb(0, 183, 255);
    color:#fff
}
.BlogSet{
    margin-top: 20px;
}
/* 默认显示样式 */
.SetContent{
    width: 75%;
    background: #fff;
    float: left;
    margin-left: 40px;
    margin-bottom: 20px;
}
.WriteContent{
    text-align: center;
    padding: 100px 0;
}
.link_Write{
    display: block;
    width: 120px;
    height: 45px;
    line-height: 45px;
    background: #fff;
    text-align: center;
    color: rgb(100, 100, 100);
    border-radius: 4px;
    box-shadow: 0 0 3px 1px #9e9e9e;
    position: relative;
    left: 50%;
    margin-left: -60px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.link_Write:hover{
    box-shadow: 0 0 3px 1px #ff0000;
}
.link_Write i{
    display: block;
    height: 20px;
    width: 20px;
    float: left;
    background: url(../Image/Write.png);
    background-size: 100%;
    position: relative;
    bottom: -27%;
    left: 15px;
}
.link_Draft{
    font-size: 14px;
    color: rgb(0, 127, 177);
}

/* 修改用户信息 */
.InfoBox{
    margin-left: 30px;
    margin-top: 20px;
}
.UpTable td{
    padding: 10px 10px;
}
.UpTable td:nth-child(1){
    text-align: right;
}
.UpTable input[type="text"],.UpTable input[type="email"],textarea,.UpTable input[type='password']{
    height: 30px;
    width: 225px;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    outline: none;
}
.UpTable input[type="text"]:hover,.UpTable input[type="email"]:hover,textarea:hover,.UpTable input[type="password"]:hover{
    border: 1px solid #20a0ff;
}
textarea{
    resize: none;
    font-size: 15px;
}
.InfoSave{
    width: 110px;
    height: 37px;
    outline: none;
    background: #22a1d6;
    border-radius: 3px;
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
    left: 50%;
    margin-left: -55px;
    margin-top: 50px;
}
.InfoSave:hover{
    background: #20a0ff;
}
/* 文章管理 */
.ArticleTable{
    text-align: center;
    width: 100%;
}
.ArticleTable tr{
    border-bottom: 1xp solid red;
}
.link_updata,.link_del{
    display: inline-block;
    height: 25px;
    width: 37px;
    line-height: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.link_updata{
    background: rgb(255, 157, 0);
}
.link_del{
    background: red;
}