
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发表文章</title>
    <link rel="stylesheet" href="/Content/css/ReleaseArticle.css">
    <script src="/Content/wangEditor/dist/wangEditor.min.js"></script>
    <script src="/Content/js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <!-- 菜单 -->
    <div class="nav">
        <div class="navImg">
            <a href="/Home/Index">
                <img src="/Content/Image/logo-210x70-m.png" alt="">
            </a>
        </div>
        <div class="nav_info">
            <ui>
                @if (Session["userInfo"] != null)
                {
                    <li><a href=""><i></i>写文章</a></li>
                    <li><a href=""><img src="@TempData["img"]" alt="" class="handImg"></a></li>
                    <li style="padding: 0px" class="MyName">
                        <a href="">@TempData["name"]</a>
                        <div class="UserMove">
                            <ul>
                                <li><a href="/Space/UserSet">个人设置</a></li>
                                <li><a href="/Home/LogOut">退出账号</a></li>
                            </ul>
                        </div>
                    </li>
                }
            </ui>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 发布区域 -->
    <div class="ReleaseBox">
        <div class="ReTitleBox">
            <input type="text" name="" id="Toptitle" class="ReTitle" placeholder="在此输入文章标题" value="@ViewBag.Adata.title">
        </div>
        <div class="ReContent">
            <div class="TypeBox">
                <span class="TypeBoxlable">文章标签:</span>
                <span class="ContentType"><input type="text" name="lables" id="" class="Types" value="" placeholder="在这里写填写标签"></span>
            </div>
            <!-- 文本编辑器 -->
            <div id="ContentBox" style="margin-top: 20px;margin-bottom: 100px;">

            </div>
        </div>
    </div>
    <form action="/Space/DoUPAriticle/@ViewBag.Adata.aid" method="post" id="Form">
        <div class="UPBox">
            <input type="hidden" name="content" id="txtContent">
            <input type="hidden" name="lables" id="txtTypes">
            <input type="hidden" name="title" id="txtTitle">
            <input type="hidden" name="text" id="txtText" />
            <div class="UPInput">
                <input type="submit" value="确认修改" id="UpArticle">
            </div>
        </div>
    </form>
    <!-- 引入 wangEditor.min.js -->
    <script type="text/javascript">
        const E = window.wangEditor
        const editor = new E('#ContentBox')
        // 或者 const editor = new E( document.getElementById('div1') )
        // 设置编辑区域高度为 500px
        editor.config.height = 600
        // 配置 server 接口地址
        editor.config.uploadImgServer = '/img'

        editor.config.linkImgCallback = function (src, alt, href) {
            console.log('图片 src ', src)
            console.log('图片文字说明', alt)
            console.log('跳转链接', href)
        }
        editor.config.onlineVideoCallback = function (video) {
            // 自定义回调内容，内容成功插入后会执行该函数
            console.log('插入视频内容', video)
        }
        editor.create()
    </script>
    <script>
        // 存储标签
        var Types = "";
        //取消回车自动提交表单
        $("#Form").keypress(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        })
        // 生成标签样式
        $(".Types").keyup(function (event) {
            if (event.keyCode == 13) {
                //判断是否为空值
                var txt = $(this).val();
                if (txt != "") {
                    $(this).parent().prepend("<span>" + txt + "<i class='Del_ico'></i></span>");
                    $(this).val("");
                    Types += txt + ",";
                    $("#txtTypes").val(Types)
                }
                else {
                    alert("标签不能输入空值");
                    return;
                }
            }
        })
        // 清除标签
        $(".ContentType").on("click", ".Del_ico", function () {
            // 获取要删除的标签字符
            var typeHtml = $(this).parent().html();
            var typeIndex = typeHtml.indexOf('<i class="Del_ico"></i>');
            var type = typeHtml.substring(0, typeIndex);
            // 清除储存的标签
            Types = Types.replace(type + ",", '')
            // console.log(Types);
            // 清除样式
            $(this).parent().remove();
        })
        $("#UpArticle").click(function () {
            $("#txtContent").val(editor.txt.html());
            $("#txtText").val(editor.txt.text());
            $("#txtTypes").val(Types);
            $("#txtTitle").val($("#Toptitle").val());
        })
        $(".MyName").mousemove(function () {
            $(".UserMove").css("display", "block")
        })
        $(".MyName").mouseout(function () {
            $(".UserMove").css("display", "none")
        })
        $(".UserMove").mouseout(function () {
            $(this).css("display", "none")
        })
    </script>

</body>
</html>