
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpInfo</title>
    <script src="~/Content/js/jquery-3.1.1.min.js"></script>
</head>
<body>
    <div class="UpInfoBox">
        <p style="font-size: 18px;padding: 20px 25px;color: rgb(100, 100, 100);">基本信息设置</p>
        <hr>
        <div class="InfoBox">
            <table class="UpTable">
                <tr>
                    <td>昵称</td>
                    <td><input type="text" value="@ViewBag.data.name" class="txt_name"></td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td><input type="email" value="@ViewBag.data.email" class="txt_email"></td>
                </tr>
                <tr>
                    <td>我的签名</td>
                    <td><textarea name="" id="" cols="30" rows="10" style="height: 100px;width: 668px;" placeholder="定制您的专属前面吧" class="txt_sign"></textarea></td>
                </tr>
            </table>
        </div>
        <input type="button" value="保存修改" id="InfoSave" class="InfoSave">
        <p style="font-size: 18px;padding: 20px 25px;color: rgb(100, 100, 100);">设置头像</p>
        <hr>
        <div class="clear"></div>
        <div class="InfoBox">
            <form action="/Space/UPFile" method="post" enctype="multipart/form-data">
                <table class="UpTable">
                    <tr>
                        <td>修改头像</td>
                        <td><input type="file" name="file" id=""></td>
                    </tr>
                </table>
                <input type="submit" value="保存头像" class="InfoSave" />
            </form>
        </div>
    </div>
    <script>
        $("#InfoSave").click(function () {
            //1、判断是否为空值
            var name = $(".txt_name").val();
            var email = $(".txt_email").val();
            var sign = $(".txt_sign").val();
            if (name.length <= 0) {
                alert('昵称不能为空！')
                return;
            }
            if (email.length <= 0) {
                alert('邮箱不能为空！')
                return;
            }
            if (sign.length <= 0) {
                sign = "这个用户很懒，什么都没有写。";
            }
            //2、请求保存
            $.ajax({
                url: "/Space/DoUpInfo",
                type: "post",
                data: {
                    name: name,
                    email: email,
                    sign: sign
                },
                success: function (data) {
                    if (data.code == 200) {
                        alert("修改成功！");
                    } else {
                        alert("修改失败！");
                    }
                },
                error: function () {
                    alert("请求异常！");
                }
            });
        })
    </script>
</body>
</html>
